extends template
block variables
    -   var title = 'Синтаксис CSS'
block content
    .imagesFlex
        include mixins/imageBlock
        +createImageBlock("img/image_1.jpeg", '50%')
        +createImageBlock("img/image_2.jpg", '50%')
        +createImageBlock("img/image_1.jpeg", '50%')

    .secondBlock
        .textBl
            p Текст внутри элемента выкладывается в поле содержимого элемента. Он начинается в левом верхнем углу области содержимого (или в правом верхнем углу, в случае содержимого языка RTL) и течёт к концу строки. Как только он достигает конца, он переходит к следующей строке и продолжает, затем к следующей строке, пока все содержимое не будет помещено в коробку. Текстовое содержимое эффективно ведёт себя как ряд встроенных элементов, размещённых на соседних строках и не создающих разрывы строк до тех пор, пока не будет достигнут конец строки, или если вы не принудите разрыв строки вручную с помощью элемента <br>. Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.Тут должен быть текст, но идеи закончились.
        .imgBl
            include mixins/imageBlock
            +createImageBlock("img/image_1.jpeg", '50%')
            +createImageBlock("img/image_2.jpg", '50%')
            +createImageBlock("img/image_1.jpeg", '50%')
