extends template
block variables
	-	var title = 'Главная страница'
block content
	.textBlock
		p CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.
		.imageBlock
			img(src="img/css1.jpg")
		p Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
	.videoBlock
		video(src = "https://stepik.org/media/attachments/course/114064/playback.mp4", controls)



