padding = 10px
indentValue = 10px
color = #DCDCDC

div
	//border 1px solid black
body
	background-color #164B69
	display flex
	align-items center
	justify-content center
	color black
	text-align center
	flex-direction column
	padding indentValue
	font-size 14px
	font-family arial

	.centralBlock
		width 50%
		min-height 700px
		min-width 100px
		padding indentValue
		margin 0
		background-color #E3E3E3
		display flex
		flex-direction column

		.menuFlex
			padding padding/2
			display flex
			flex-direction row
			justify-content space-around
			span
				background-color grey
				padding 5px;
			.menuItem
				a
					text-decoration none
					font-weight: bold
					color black
				a:hover
					background-color grey
					padding 5px;//#DCDCDC


@import textBlock
@import videoBlock
@import rowOfImages
@import textFlex
@import mainMedia





