@media (max-width:700px)
  body
    background-color #164B69
    display flex
    align-items center
    justify-content center
    color black
    text-align center
    flex-direction column
    font-size 12px
    font-family arial

    .centralBlock
      width 100%
      padding indentValue
      margin @padding
      background-color #E3E3E3
      display flex
      flex-direction column
      align-items center

      .menuFlex
        display flex-inline
        width 40%
        font-size 14pt
        flex-direction row
        flex-wrap wrap
        row-gap 5px
        justify-content space-between
          
      //.textWithImageBlock
      //  padding padding/2
      //  margin @padding
      //  .imageBlock
      //    margin padding
      //    float none
      //    margin auto
      //    width 50%
      //  p
      //    line-height 2
      //    margin padding
      //    text-align justify
      //    text-indent @margin*2
      //    word-spacing 1px
@import textBlock
@import videoBlock
@import rowOfImages
@import textFlex
      //.videoBlock
      //  padding 10px
      //  margin @padding/2
      //  vertical-align middle
      //  video
      //    width 100%



