paddingValueWidth = 1vw
paddingValueHeight = 1vh

img
  width 100%
  height 100%


.imagesFlex
  display flex
  flex-direction row
  justify-content space-evenly
  flex-wrap nowrap
  padding paddingValueWidth
  &Item
    padding paddingValueHeight
    overflow hidden

@media (max-width:700px)
  .imagesFlex
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex-wrap nowrap
    //padding paddingValueWidth
    border solid thin black
    width 100%
    &Item
      width 100%
      //padding paddingValueHeight
      overflow hidden